.virtual_list{
    overflow-y : auto;
    display: block;
}

.divTable {
    display:  table;
    overflow-y: auto;
    width:100%;
    /*border: thin solid #ecb756;*/
    /* border-spacing:5px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}

.divHeaderRow{
    display:table-row;
    cursor: pointer;
    width:100%;
    min-height: 16px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 0 4px 0 1px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.75);
    color: #ecb756;
    background: linear-gradient(to bottom, #505050 0%, #484848 50%, #3b3b3b 51%, #4d4d4d 100%);
    border-left: 1px solid #2f2f2f;
}

.divRow{
    display: block;
    position: absolute;
    width: 100%;
    height: 25px;
    line-height: 20px;
}

.divRow:nth-child(even) {
    background: #101010;
}

.divCell {
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 70px;
    width:7%;
    text-align : right;
}

.divCellSmall {
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
    width:5%;
    text-align : right;
}

.divCellCheck{
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    width:2%;
}

.divCellRadio{
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    width:2%;
}

.divCellLimit{
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 100px;
    width:10%;
}

.divCellName {
    float:left;/*fix for  buggy browsers*/
    display:table-cell;
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
    min-width: 200px;
    text-align : left;
}

.activeShort{
    margin-left: 68px !important;
}

