@charset "UTF-8";

@font-face {
    font-family: "xinfinitchart";
    src:url("font/zBUfRs2t2isGE4Iajsp6jb5ZWF9nDq5T.eot");
    src:url("font/zBUfRs2t2isGE4Iajsp6jb5ZWF9nDq5T.eot?#iefix") format("embedded-opentype"),
    url("font/Sx63FU5RYCxoFKrUi70T_75ZWF9nDq5T.woff") format("woff"),
    url("font/Ku3q3dhPs0dop-MG0ffP5SFy8k3P2Kt0.ttf") format("truetype"),
    url("font/Ku3q3dhPs0dop-MG0ffP5SFy8k3P2Kt0.ttf#xinfinitchart") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "xinfinitchart" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
    font-family: "xinfinitchart" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-small-down:before {
    content: "\61";
}
.ico-small-right:before {
    content: "\62";
}
.ico-small-up:before {
    content: "\63";
}
.ico-arrow-up:before {
    content: "\64";
}
.ico-beer:before {
    content: "\65";
}
.ico-book:before {
    content: "\66";
}
.ico-bookmark:before {
    content: "\67";
}
.ico-briefcase:before {
    content: "\68";
}
.ico-broadcast:before {
    content: "\69";
}
.ico-browser:before {
    content: "\6a";
}
.ico-bug:before {
    content: "\6b";
}
.ico-calendar:before {
    content: "\6c";
}
.ico-check:before {
    content: "\6d";
}
.ico-checklist:before {
    content: "\6e";
}
.ico-chevron-down:before {
    content: "\6f";
}
.ico-chevron-left:before {
    content: "\70";
}
.ico-chevron-right:before {
    content: "\71";
}
.ico-chevron-up:before {
    content: "\72";
}
.ico-circle-slash:before {
    content: "\73";
}
.ico-clippy:before {
    content: "\75";
}
.ico-clock:before {
    content: "\76";
}
.ico-cloud-download:before {
    content: "\77";
}
.ico-cloud-upload:before {
    content: "\78";
}
.ico-code:before {
    content: "\79";
}
.ico-color-mode:before {
    content: "\7a";
}
.ico-comment:before {
    content: "\41";
}
.ico-comment-discussion:before {
    content: "\42";
}
.ico-credit-card:before {
    content: "\43";
}
.ico-dash:before {
    content: "\44";
}
.ico-dashboard:before {
    content: "\45";
}
.ico-database:before {
    content: "\46";
}
.ico-device-camera:before {
    content: "\47";
}
.ico-device-camera-video:before {
    content: "\48";
}
.ico-device-desktop:before {
    content: "\49";
}
.ico-device-mobile:before {
    content: "\4a";
}
.ico-diff:before {
    content: "\4b";
}
.ico-diff-added:before {
    content: "\4c";
}
.ico-diff-ignored:before {
    content: "\4d";
}
.ico-diff-modified:before {
    content: "\4e";
}
.ico-diff-removed:before {
    content: "\4f";
}
.ico-diff-renamed:before {
    content: "\50";
}
.ico-ellipsis:before {
    content: "\51";
}
.ico-eye:before {
    content: "\52";
}
.ico-file-binary:before {
    content: "\53";
}
.ico-file-code:before {
    content: "\54";
}
.ico-file-directory:before {
    content: "\55";
}
.ico-file-media:before {
    content: "\56";
}
.ico-file-pdf:before {
    content: "\57";
}
.ico-file-submodule:before {
    content: "\58";
}
.ico-file-symlink-directory:before {
    content: "\59";
}
.ico-file-symlink-file:before {
    content: "\5a";
}
.ico-file-text:before {
    content: "\30";
}
.ico-file-zip:before {
    content: "\31";
}
.ico-flame:before {
    content: "\32";
}
.ico-fold:before {
    content: "\33";
}
.ico-gear:before {
    content: "\34";
}
.ico-gift:before {
    content: "\35";
}
.ico-gist:before {
    content: "\36";
}
.ico-gist-secret:before {
    content: "\37";
}
.ico-git-branch:before {
    content: "\38";
}
.ico-git-commit:before {
    content: "\39";
}
.ico-git-compare:before {
    content: "\21";
}
.ico-git-merge:before {
    content: "\22";
}
.ico-git-pull-request:before {
    content: "\23";
}
.ico-globe:before {
    content: "\24";
}
.ico-graph:before {
    content: "\25";
}
.ico-heart:before {
    content: "\26";
}
.ico-history:before {
    content: "\27";
}
.ico-home:before {
    content: "\28";
}
.ico-horizontal-rule:before {
    content: "\29";
}
.ico-hourglass:before {
    content: "\2a";
}
.ico-hubot:before {
    content: "\2b";
}
.ico-inbox:before {
    content: "\2c";
}
.ico-info:before {
    content: "\2d";
}
.ico-issue-closed:before {
    content: "\2e";
}
.ico-issue-opened:before {
    content: "\2f";
}
.ico-issue-reopened:before {
    content: "\3a";
}
.ico-jersey:before {
    content: "\3b";
}
.ico-jump-down:before {
    content: "\3c";
}
.ico-jump-left:before {
    content: "\3d";
}
.ico-jump-right:before {
    content: "\3e";
}
.ico-jump-up:before {
    content: "\3f";
}
.ico-key:before {
    content: "\40";
}
.ico-keyboard:before {
    content: "\5b";
}
.ico-law:before {
    content: "\5d";
}
.ico-light-bulb:before {
    content: "\5e";
}
.ico-link:before {
    content: "\5f";
}
.ico-link-external:before {
    content: "\60";
}
.ico-list-unordered:before {
    content: "\7c";
}
.ico-lock:before {
    content: "\7e";
}
.ico-logo-github:before {
    content: "\5c";
}
.ico-mail:before {
    content: "\e000";
}
.ico-mail-reply:before {
    content: "\e002";
}
.ico-mark-github:before {
    content: "\e003";
}
.ico-markdown:before {
    content: "\e004";
}
.ico-megaphone:before {
    content: "\e005";
}
.ico-mention:before {
    content: "\e006";
}
.ico-microscope:before {
    content: "\e007";
}
.ico-milestone:before {
    content: "\e008";
}
.ico-mirror:before {
    content: "\e009";
}
.ico-mortar-board:before {
    content: "\e00a";
}
.ico-move-down:before {
    content: "\e00b";
}
.ico-move-left:before {
    content: "\e00c";
}
.ico-move-right:before {
    content: "\e00d";
}
.ico-move-up:before {
    content: "\e00e";
}
.ico-mute:before {
    content: "\e00f";
}
.ico-no-newline:before {
    content: "\e010";
}
.ico-octoface:before {
    content: "\e011";
}
.ico-organization:before {
    content: "\e012";
}
.ico-package:before {
    content: "\e013";
}
.ico-paintcan:before {
    content: "\e014";
}
.ico-pencil:before {
    content: "\e015";
}
.ico-person:before {
    content: "\e016";
}
.ico-pin:before {
    content: "\e017";
}
.ico-playback-fast-forward:before {
    content: "\e018";
}
.ico-playback-pause:before {
    content: "\e019";
}
.ico-playback-play:before {
    content: "\e01a";
}
.ico-playback-rewind:before {
    content: "\e01b";
}
.ico-plug:before {
    content: "\e01c";
}
.ico-plus:before {
    content: "\e01d";
}
.ico-podium:before {
    content: "\e01e";
}
.ico-primitive-dot:before {
    content: "\e01f";
}
.ico-primitive-square:before {
    content: "\e020";
}
.ico-pulse:before {
    content: "\e021";
}
.ico-puzzle:before {
    content: "\e022";
}
.ico-question:before {
    content: "\e023";
}
.ico-quote:before {
    content: "\e024";
}
.ico-radio-tower:before {
    content: "\e025";
}
.ico-repo:before {
    content: "\e026";
}
.ico-repo-clone:before {
    content: "\e027";
}
.ico-repo-force-push:before {
    content: "\e028";
}
.ico-repo-forked:before {
    content: "\e029";
}
.ico-repo-pull:before {
    content: "\e02a";
}
.ico-repo-push:before {
    content: "\e02b";
}
.ico-rocket:before {
    content: "\e02c";
}
.ico-rss:before {
    content: "\e02d";
}
.ico-ruby:before {
    content: "\e02e";
}
.ico-screen-full:before {
    content: "\e02f";
}
.ico-screen-normal:before {
    content: "\e030";
}
.ico-search:before {
    content: "\e031";
}
.ico-server:before {
    content: "\e032";
}
.ico-settings:before {
    content: "\e033";
}
.ico-sign-in:before {
    content: "\e034";
}
.ico-sign-out:before {
    content: "\e035";
}
.ico-split:before {
    content: "\e036";
}
.ico-star:before {
    content: "\e038";
}
.ico-stop:before {
    content: "\e03a";
}
.ico-sync:before {
    content: "\e03b";
}
.ico-tag:before {
    content: "\e03c";
}
.ico-telescope:before {
    content: "\e03d";
}
.ico-terminal:before {
    content: "\e03e";
}
.ico-three-bars:before {
    content: "\e03f";
}
.ico-tools:before {
    content: "\e040";
}
.ico-trashcan:before {
    content: "\e041";
}
.ico-triangle-down:before {
    content: "\e042";
}
.ico-triangle-left:before {
    content: "\e043";
}
.ico-triangle-right:before {
    content: "\e044";
}
.ico-triangle-up:before {
    content: "\e045";
}
.ico-unfold:before {
    content: "\e046";
}
.ico-unmute:before {
    content: "\e047";
}
.ico-versions:before {
    content: "\e048";
}
.ico-x:before {
    content: "\e049";
}
.ico-zap:before {
    content: "\e04a";
}
.ico-alert:before {
    content: "\e04b";
}
.ico-alignment-align:before {
    content: "\e04c";
}
.ico-alignment-aligned-to:before {
    content: "\e04d";
}
.ico-alignment-unalign:before {
    content: "\e04e";
}
.ico-arrow-down:before {
    content: "\e04f";
}
.ico-arrow-left:before {
    content: "\e050";
}
.ico-arrow-right:before {
    content: "\e051";
}
.ico-arrow-small-left:before {
    content: "\e052";
}
.ico-car-side:before {
    content: "\e05e";
}
.ico-clock-outline:before {
    content: "\e05f";
}
.ico-metro-line-one:before {
    content: "\e066";
}
.ico-metro-line-three:before {
    content: "\e067";
}
.ico-u-bahn:before {
    content: "\e08f";
}
.ico-u-bahn-line:before {
    content: "\e090";
}
.ico-computer-imac-2:before {
    content: "\e0a9";
}
.ico-macintosh-1:before {
    content: "\e0aa";
}
.ico-delete-garbage-streamline:before {
    content: "\e0b3";
}
.ico-eat-food-fork-knife-streamline:before {
    content: "\e0b9";
}
.ico-edit-modify-streamline:before {
    content: "\e0bb";
}
.ico-email-mail-streamline:before {
    content: "\e0bc";
}
.ico-eye-dropper-streamline:before {
    content: "\e0be";
}
.ico-first-aid-medecine-shield-streamline:before {
    content: "\e0c0";
}
.ico-food-ice-cream-streamline:before {
    content: "\e0c1";
}
.ico-handle-streamline-vector:before {
    content: "\e0c4";
}
.ico-ipad-streamline:before {
    content: "\e0ca";
}
.ico-iphone-streamline:before {
    content: "\e0cb";
}
.ico-ipod-music-streamline:before {
    content: "\e0cd";
}
.ico-ipod-streamline:before {
    content: "\e0ce";
}
.ico-laptop-macbook-streamline:before {
    content: "\e0d0";
}
.ico-like-love-streamline:before {
    content: "\e0d1";
}
.ico-man-people-streamline-user:before {
    content: "\e0d8";
}
.ico-map-pin-streamline:before {
    content: "\e0d9";
}
.ico-notebook-streamline:before {
    content: "\e0df";
}
.ico-paint-bucket-streamline:before {
    content: "\e0e0";
}
.ico-painting-pallet-streamline:before {
    content: "\e0e1";
}
.ico-painting-roll-streamline:before {
    content: "\e0e2";
}
.ico-pen-streamline:before {
    content: "\e0e3";
}
.ico-pen-streamline-1:before {
    content: "\e0e4";
}
.ico-pen-streamline-2:before {
    content: "\e0e5";
}
.ico-pen-streamline-3:before {
    content: "\e0e6";
}
.ico-photo-pictures-streamline:before {
    content: "\e0e7";
}
.ico-picture-streamline:before {
    content: "\e0e8";
}
.ico-picture-streamline-1:before {
    content: "\e0e9";
}
.ico-receipt-shopping-streamline:before {
    content: "\e0ea";
}
.ico-settings-streamline:before {
    content: "\e0ec";
}
.ico-settings-streamline-1:before {
    content: "\e0ed";
}
.ico-speech-streamline-talk-user:before {
    content: "\e0f0";
}
.ico-stamp-streamline:before {
    content: "\e0f1";
}
.ico-streamline-suitcase-travel:before {
    content: "\e0f2";
}
.ico-streamline-sync:before {
    content: "\e0f3";
}
.ico-streamline-umbrella-weather:before {
    content: "\e0f4";
}
.ico-address-book:before {
    content: "\e0f5";
}
.ico-alert-1:before {
    content: "\e0f6";
}
.ico-align-center:before {
    content: "\e0f7";
}
.ico-align-justify:before {
    content: "\e0f8";
}
.ico-align-left:before {
    content: "\e0f9";
}
.ico-align-right:before {
    content: "\e0fa";
}
.ico-anchor:before {
    content: "\e0fb";
}
.ico-annotate:before {
    content: "\e0fc";
}
.ico-archive:before {
    content: "\e0fd";
}
.ico-arrow-down-1:before {
    content: "\e0fe";
}
.ico-arrow-left-1:before {
    content: "\e0ff";
}
.ico-arrow-right-1:before {
    content: "\e100";
}
.ico-arrow-up-1:before {
    content: "\e101";
}
.ico-arrows-compress:before {
    content: "\e102";
}
.ico-arrows-expand:before {
    content: "\e103";
}
.ico-arrows-in:before {
    content: "\e104";
}
.ico-arrows-out:before {
    content: "\e105";
}
.ico-asl:before {
    content: "\e106";
}
.ico-asterisk:before {
    content: "\e107";
}
.ico-at-sign:before {
    content: "\e108";
}
.ico-background-color:before {
    content: "\e109";
}
.ico-battery-empty:before {
    content: "\e10a";
}
.ico-battery-full:before {
    content: "\e10b";
}
.ico-battery-half:before {
    content: "\e10c";
}
.ico-bitcoin:before {
    content: "\e10d";
}
.ico-bitcoin-circle:before {
    content: "\e10e";
}
.ico-blind:before {
    content: "\e10f";
}
.ico-bluetooth:before {
    content: "\e110";
}
.ico-bold:before {
    content: "\e111";
}
.ico-book-1:before {
    content: "\e112";
}
.ico-book-bookmark:before {
    content: "\e113";
}
.ico-bookmark-1:before {
    content: "\e114";
}
.ico-braille:before {
    content: "\e115";
}
.ico-burst:before {
    content: "\e116";
}
.ico-burst-new:before {
    content: "\e117";
}
.ico-burst-sale:before {
    content: "\e118";
}
.ico-calendar-1:before {
    content: "\e119";
}
.ico-camera:before {
    content: "\e11a";
}
.ico-check-1:before {
    content: "\e11b";
}
.ico-checkbox:before {
    content: "\e11c";
}
.ico-clipboard:before {
    content: "\e11d";
}
.ico-clipboard-notes:before {
    content: "\e11e";
}
.ico-clipboard-pencil:before {
    content: "\e11f";
}
.ico-clock-1:before {
    content: "\e120";
}
.ico-closed-caption:before {
    content: "\e121";
}
.ico-cloud:before {
    content: "\e122";
}
.ico-comment-1:before {
    content: "\e123";
}
.ico-comment-minus:before {
    content: "\e124";
}
.ico-comment-quotes:before {
    content: "\e125";
}
.ico-comment-video:before {
    content: "\e126";
}
.ico-comments:before {
    content: "\e127";
}
.ico-compass:before {
    content: "\e128";
}
.ico-contrast:before {
    content: "\e129";
}
.ico-credit-card-1:before {
    content: "\e12a";
}
.ico-crop:before {
    content: "\e12b";
}
.ico-crown:before {
    content: "\e12c";
}
.ico-css3:before {
    content: "\e12d";
}
.ico-database-1:before {
    content: "\e12e";
}
.ico-die-five:before {
    content: "\e12f";
}
.ico-die-four:before {
    content: "\e130";
}
.ico-die-one:before {
    content: "\e131";
}
.ico-die-six:before {
    content: "\e132";
}
.ico-die-three:before {
    content: "\e133";
}
.ico-die-two:before {
    content: "\e134";
}
.ico-dislike:before {
    content: "\e135";
}
.ico-dollar:before {
    content: "\e136";
}
.ico-dollar-bill:before {
    content: "\e137";
}
.ico-download:before {
    content: "\e138";
}
.ico-eject:before {
    content: "\e139";
}
.ico-elevator:before {
    content: "\e13a";
}
.ico-euro:before {
    content: "\e13b";
}
.ico-eye-1:before {
    content: "\e13c";
}
.ico-fast-forward:before {
    content: "\e13d";
}
.ico-female:before {
    content: "\e13e";
}
.ico-female-symbol:before {
    content: "\e13f";
}
.ico-filter:before {
    content: "\e140";
}
.ico-first-aid:before {
    content: "\e141";
}
.ico-flag:before {
    content: "\e142";
}
.ico-folder:before {
    content: "\e143";
}
.ico-folder-add:before {
    content: "\e144";
}
.ico-folder-lock:before {
    content: "\e145";
}
.ico-foot:before {
    content: "\e146";
}
.ico-foundation:before {
    content: "\e147";
}
.ico-chart-column:before {
    content: "\e148";
}
.ico-graph-horizontal:before {
    content: "\e149";
}
.ico-graph-pie:before {
    content: "\e14a";
}
.ico-graph-trend:before {
    content: "\e14b";
}
.ico-guide-dog:before {
    content: "\e14c";
}
.ico-hearing-aid:before {
    content: "\e14d";
}
.ico-heart-1:before {
    content: "\e14e";
}
.ico-home-1:before {
    content: "\e14f";
}
.ico-html5:before {
    content: "\e150";
}
.ico-indent-less:before {
    content: "\e151";
}
.ico-indent-more:before {
    content: "\e152";
}
.ico-info-1:before {
    content: "\e153";
}
.ico-italic:before {
    content: "\e154";
}
.ico-key-1:before {
    content: "\e155";
}
.ico-laptop:before {
    content: "\e156";
}
.ico-layout:before {
    content: "\e157";
}
.ico-lightbulb:before {
    content: "\e158";
}
.ico-like:before {
    content: "\e159";
}
.ico-link-1:before {
    content: "\e15a";
}
.ico-list:before {
    content: "\e15b";
}
.ico-list-bullet:before {
    content: "\e15c";
}
.ico-list-number:before {
    content: "\e15d";
}
.ico-list-thumbnails:before {
    content: "\e15e";
}
.ico-lock-1:before {
    content: "\e15f";
}
.ico-loop:before {
    content: "\e160";
}
.ico-magnifying-glass:before {
    content: "\e161";
}
.ico-mail-1:before {
    content: "\e162";
}
.ico-male:before {
    content: "\e163";
}
.ico-male-female:before {
    content: "\e164";
}
.ico-male-symbol:before {
    content: "\e165";
}
.ico-map:before {
    content: "\e166";
}
.ico-marker:before {
    content: "\e167";
}
.ico-megaphone-1:before {
    content: "\e168";
}
.ico-microphone:before {
    content: "\e169";
}
.ico-minus:before {
    content: "\e16a";
}
.ico-minus-circle:before {
    content: "\e16b";
}
.ico-mobile:before {
    content: "\e16c";
}
.ico-mobile-signal:before {
    content: "\e16d";
}
.ico-monitor:before {
    content: "\e16e";
}
.ico-mountains:before {
    content: "\e16f";
}
.ico-music:before {
    content: "\e170";
}
.ico-next:before {
    content: "\e171";
}
.ico-no-dogs:before {
    content: "\e172";
}
.ico-no-smoking:before {
    content: "\e173";
}
.ico-page:before {
    content: "\e174";
}
.ico-page-add:before {
    content: "\e175";
}
.ico-page-copy:before {
    content: "\e176";
}
.ico-page-csv:before {
    content: "\e177";
}
.ico-page-delete:before {
    content: "\e178";
}
.ico-page-doc:before {
    content: "\e179";
}
.ico-page-edit:before {
    content: "\e17a";
}
.ico-page-export:before {
    content: "\e17b";
}
.ico-page-export-csv:before {
    content: "\e17c";
}
.ico-page-export-doc:before {
    content: "\e17d";
}
.ico-page-export-pdf:before {
    content: "\e17e";
}
.ico-page-filled:before {
    content: "\e17f";
}
.ico-page-multiple:before {
    content: "\e180";
}
.ico-page-pdf:before {
    content: "\e181";
}
.ico-page-remove:before {
    content: "\e182";
}
.ico-page-search:before {
    content: "\e183";
}
.ico-volume-strike:before {
    content: "\e206";
}
.ico-web:before {
    content: "\e207";
}
.ico-wheelchair:before {
    content: "\e208";
}
.ico-widget:before {
    content: "\e209";
}
.ico-wrench:before {
    content: "\e20a";
}
.ico-x-1:before {
    content: "\e20b";
}
.ico-x-circle:before {
    content: "\e20c";
}
.ico-yen:before {
    content: "\e20d";
}
.ico-zoom-in:before {
    content: "\e20e";
}
.ico-zoom-out:before {
    content: "\e20f";
}
.ico-adn:before {
    content: "\e210";
}
.ico-aid-medkit-case:before {
    content: "\e211";
}
.ico-align-center-1:before {
    content: "\e212";
}
.ico-align-justify-1:before {
    content: "\e213";
}
.ico-align-justify-2:before {
    content: "\e214";
}
.ico-align-left-1:before {
    content: "\e215";
}
.ico-align-right-1:before {
    content: "\e216";
}
.ico-ambulance:before {
    content: "\e217";
}
.ico-anchor-1:before {
    content: "\e218";
}
.ico-angle-double-down:before {
    content: "\e21a";
}
.ico-angle-double-left:before {
    content: "\e21b";
}
.ico-angle-double-right:before {
    content: "\e21c";
}
.ico-angle-double-up:before {
    content: "\e21d";
}
.ico-angle-down:before {
    content: "\e21e";
}
.ico-angle-left:before {
    content: "\e21f";
}
.ico-angle-right:before {
    content: "\e220";
}
.ico-angle-up:before {
    content: "\e221";
}
.ico-arrow-circle-up-line:before {
    content: "\e22a";
}
.ico-arrow-down-2:before {
    content: "\e22b";
}
.ico-arrow-down-3:before {
    content: "\e22c";
}
.ico-arrow-horizontal:before {
    content: "\e22d";
}
.ico-arrow-left-2:before {
    content: "\e22e";
}
.ico-arrow-left-3:before {
    content: "\e22f";
}
.ico-arrow-right-2:before {
    content: "\e230";
}
.ico-arrow-right-3:before {
    content: "\e231";
}
.ico-arrow-up-2:before {
    content: "\e232";
}
.ico-arrow-up-3:before {
    content: "\e233";
}
.ico-arrow-vertical:before {
    content: "\e234";
}
.ico-asterisk-1:before {
    content: "\e235";
}
.ico-backward:before {
    content: "\e236";
}
.ico-barcode:before {
    content: "\e238";
}
.ico-beer-1:before {
    content: "\e239";
}
.ico-bell:before {
    content: "\e23a";
}
.ico-bell-two:before {
    content: "\e23b";
}
.ico-bitbucket:before {
    content: "\e23c";
}
.ico-bitbucket-square:before {
    content: "\e23d";
}
.ico-book-2:before {
    content: "\e240";
}
.ico-bookmark-2:before {
    content: "\e241";
}
.ico-box-inbox:before {
    content: "\e242";
}
.ico-briefcase-case:before {
    content: "\e243";
}
.ico-briefcase-case-two:before {
    content: "\e244";
}
.ico-bug-1:before {
    content: "\e245";
}
.ico-building:before {
    content: "\e246";
}
.ico-bullhorn:before {
    content: "\e247";
}
.ico-bullseye:before {
    content: "\e248";
}
.ico-calendar-2:before {
    content: "\e249";
}
.ico-calendar-3:before {
    content: "\e24a";
}
.ico-call-phone:before {
    content: "\e24b";
}
.ico-call-phone-square:before {
    content: "\e24c";
}
.ico-camera-1:before {
    content: "\e24d";
}
.ico-camera-retro:before {
    content: "\e24e";
}
.ico-caret-down:before {
    content: "\e24f";
}
.ico-caret-down-two:before {
    content: "\e250";
}
.ico-caret-left:before {
    content: "\e251";
}
.ico-caret-right:before {
    content: "\e252";
}
.ico-caret-square-down:before {
    content: "\e253";
}
.ico-caret-square-right:before {
    content: "\e254";
}
.ico-caret-square-up:before {
    content: "\e255";
}
.ico-caret-up:before {
    content: "\e256";
}
.ico-caret-up-down:before {
    content: "\e257";
}
.ico-caret-up-two:before {
    content: "\e258";
}
.ico-certificate:before {
    content: "\e259";
}
.ico-chat-bubble:before {
    content: "\e25a";
}
.ico-chat-bubble-two:before {
    content: "\e25b";
}
.ico-check-mark:before {
    content: "\e25c";
}
.ico-check-mark-2:before {
    content: "\e25d";
}
.ico-check-mark-circle:before {
    content: "\e25e";
}
.ico-check-mark-circle-two:before {
    content: "\e25f";
}
.ico-check-square:before {
    content: "\e260";
}
.ico-chevron-down-1:before {
    content: "\e261";
}
.ico-chevron-down-circle:before {
    content: "\e262";
}
.ico-chevron-left-1:before {
    content: "\e263";
}
.ico-chevron-right-1:before {
    content: "\e264";
}
.ico-chevron-up-1:before {
    content: "\e265";
}
.ico-chevron-up-circle:before {
    content: "\e266";
}
.ico-circle:before {
    content: "\e267";
}
.ico-circle-line:before {
    content: "\e268";
}
.ico-clipboard-1:before {
    content: "\e269";
}
.ico-clock-2:before {
    content: "\e26a";
}
.ico-close-delete:before {
    content: "\e26b";
}
.ico-cloud-1:before {
    content: "\e26c";
}
.ico-cloud-download-1:before {
    content: "\e26d";
}
.ico-cloud-upload-1:before {
    content: "\e26e";
}
.ico-code-1:before {
    content: "\e26f";
}
.ico-code-fork:before {
    content: "\e270";
}
.ico-cog-gear:before {
    content: "\e271";
}
.ico-columns:before {
    content: "\e272";
}
.ico-compass-1:before {
    content: "\e273";
}
.ico-contrast-1:before {
    content: "\e274";
}
.ico-credit-card-2:before {
    content: "\e275";
}
.ico-crop-1:before {
    content: "\e276";
}
.ico-crosshair-aim:before {
    content: "\e277";
}
.ico-cup:before {
    content: "\e279";
}
.ico-cursor-move:before {
    content: "\e27a";
}
.ico-cursor-move-two:before {
    content: "\e27b";
}
.ico-cut-scissor:before {
    content: "\e27c";
}
.ico-cutlery:before {
    content: "\e27d";
}
.ico-delete-circle:before {
    content: "\e27e";
}
.ico-denied-block:before {
    content: "\e27f";
}
.ico-dislike-1:before {
    content: "\e280";
}
.ico-doctor:before {
    content: "\e281";
}
.ico-document:before {
    content: "\e282";
}
.ico-dollar-1:before {
    content: "\e283";
}
.ico-download-1:before {
    content: "\e284";
}
.ico-dribble:before {
    content: "\e285";
}
.ico-dropbox:before {
    content: "\e286";
}
.ico-earser:before {
    content: "\e287";
}
.ico-edit-write:before {
    content: "\e288";
}
.ico-eject-1:before {
    content: "\e289";
}
.ico-ellipsis-1:before {
    content: "\e28a";
}
.ico-ellipsis-2:before {
    content: "\e28b";
}
.ico-email-envelope:before {
    content: "\e28c";
}
.ico-euro-1:before {
    content: "\e28d";
}
.ico-exchange:before {
    content: "\e28e";
}
.ico-exclamation:before {
    content: "\e28f";
}
.ico-exclamation-circle:before {
    content: "\e290";
}
.ico-exclamation-triangle:before {
    content: "\e291";
}
.ico-external-link:before {
    content: "\e292";
}
.ico-external-link-sqaure:before {
    content: "\e293";
}
.ico-eye-2:before {
    content: "\e294";
}
.ico-eye-slash-close:before {
    content: "\e295";
}
.ico-facebook:before {
    content: "\e296";
}
.ico-facebook-square:before {
    content: "\e297";
}
.ico-fast-backward:before {
    content: "\e298";
}
.ico-fast-forward-1:before {
    content: "\e299";
}
.ico-female-1:before {
    content: "\e29a";
}
.ico-fighter-jet:before {
    content: "\e29b";
}
.ico-file:before {
    content: "\e29c";
}
.ico-file-document:before {
    content: "\e29d";
}
.ico-file-text-1:before {
    content: "\e29e";
}
.ico-files:before {
    content: "\e29f";
}
.ico-filmstrip:before {
    content: "\e2a0";
}
.ico-filter-1:before {
    content: "\e2a1";
}
.ico-flag-1:before {
    content: "\e2a4";
}
.ico-flag-2:before {
    content: "\e2a5";
}
.ico-flag-goal:before {
    content: "\e2a6";
}
.ico-flash:before {
    content: "\e2a7";
}
.ico-flickr:before {
    content: "\e2a8";
}
.ico-folder-1:before {
    content: "\e2a9";
}
.ico-folder2:before {
    content: "\e2aa";
}
.ico-folder3:before {
    content: "\e2ab";
}
.ico-folder-open:before {
    content: "\e2ac";
}
.ico-font:before {
    content: "\e2ad";
}
.ico-fontawesome-webfont:before {
    content: "\e2ae";
}
.ico-forward:before {
    content: "\e2af";
}
.ico-foursquare:before {
    content: "\e2b0";
}
.ico-gamepad:before {
    content: "\e2b1";
}
.ico-gears-setting:before {
    content: "\e2b2";
}
.ico-google-plus-1:before {
    content: "\e2b9";
}
.ico-hand-down:before {
    content: "\e2bb";
}
.ico-hand-right:before {
    content: "\e2bc";
}
.ico-hand-up:before {
    content: "\e2bd";
}
.ico-harddrive:before {
    content: "\e2be";
}
.ico-headphone:before {
    content: "\e2bf";
}
.ico-hospital-square:before {
    content: "\e2c4";
}
.ico-html5-1:before {
    content: "\e2c6";
}
.ico-indent:before {
    content: "\e2c7";
}
.ico-information:before {
    content: "\e2c8";
}
.ico-information-circle:before {
    content: "\e2c9";
}
.ico-instagram:before {
    content: "\e2ca";
}
.ico-italic-1:before {
    content: "\e2cb";
}
.ico-key-2:before {
    content: "\e2cc";
}
.ico-keyboard-1:before {
    content: "\e2cd";
}
.ico-laptop-1:before {
    content: "\e2ce";
}
.ico-leaf:before {
    content: "\e2cf";
}
.ico-left:before {
    content: "\e2d0";
}
.ico-left-circle:before {
    content: "\e2d1";
}
.ico-legal:before {
    content: "\e2d2";
}
.ico-letter-mail:before {
    content: "\e2d4";
}
.ico-level-down:before {
    content: "\e2d5";
}
.ico-level-up:before {
    content: "\e2d6";
}
.ico-lightbulb-1:before {
    content: "\e2d7";
}
.ico-like-1:before {
    content: "\e2d8";
}
.ico-like-filled:before {
    content: "\e2d9";
}
.ico-link-2:before {
    content: "\e2da";
}
.ico-link-broken:before {
    content: "\e2db";
}
.ico-linkedin:before {
    content: "\e2dc";
}
.ico-linkedin-square:before {
    content: "\e2dd";
}
.ico-linux:before {
    content: "\e2de";
}
.ico-list-1:before {
    content: "\e2df";
}
.ico-list-2:before {
    content: "\e2e0";
}
.ico-list-bullet-1:before {
    content: "\e2e1";
}
.ico-list-number-1:before {
    content: "\e2e2";
}
.ico-location-arrow:before {
    content: "\e2e3";
}
.ico-lock-2:before {
    content: "\e2e4";
}
.ico-log-in:before {
    content: "\e2e5";
}
.ico-log-out:before {
    content: "\e2e6";
}
.ico-magic-wand:before {
    content: "\e2e7";
}
.ico-magnet:before {
    content: "\e2e8";
}
.ico-mail-forward:before {
    content: "\e2e9";
}
.ico-male-1:before {
    content: "\e2ea";
}
.ico-maxcdn:before {
    content: "\e2eb";
}
.ico-mic:before {
    content: "\e2ec";
}
.ico-mic-no:before {
    content: "\e2ed";
}
.ico-minus-1:before {
    content: "\e2ee";
}
.ico-minus-circle-1:before {
    content: "\e2ef";
}
.ico-minus-line:before {
    content: "\e2f0";
}
.ico-minus-square:before {
    content: "\e2f1";
}
.ico-minus-square-1:before {
    content: "\e2f2";
}
.ico-money-banknote:before {
    content: "\e2f3";
}
.ico-moon-sleep:before {
    content: "\e2f4";
}
.ico-music-note:before {
    content: "\e2f5";
}
.ico-outdent:before {
    content: "\e2f6";
}
.ico-paper-clip:before {
    content: "\e2f7";
}
.ico-pause-1:before {
    content: "\e2f8";
}
.ico-pencil-2:before {
    content: "\e2f9";
}
.ico-pencil-square:before {
    content: "\e2fa";
}
.ico-phone-mobile:before {
    content: "\e2fb";
}
.ico-photo-1:before {
    content: "\e2fc";
}
.ico-pin-map:before {
    content: "\e2fd";
}
.ico-pin-map-2:before {
    content: "\e2fe";
}
.ico-pinterest:before {
    content: "\e2ff";
}
.ico-pinterest-square:before {
    content: "\e300";
}
.ico-plane-airport:before {
    content: "\e301";
}
.ico-play-1:before {
    content: "\e302";
}
.ico-play-circle-1:before {
    content: "\e303";
}
.ico-plus-2:before {
    content: "\e304";
}
.ico-plus-circle:before {
    content: "\e305";
}
.ico-plus-square:before {
    content: "\e306";
}
.ico-pound-1:before {
    content: "\e307";
}
.ico-power-off:before {
    content: "\e308";
}
.ico-present-gift:before {
    content: "\e309";
}
.ico-prize-award:before {
    content: "\e30a";
}
.ico-ptint:before {
    content: "\e30b";
}
.ico-puzzle-2:before {
    content: "\e30c";
}
.ico-qrcode:before {
    content: "\e30d";
}
.ico-question-1:before {
    content: "\e30e";
}
.ico-question-2:before {
    content: "\e30f";
}
.ico-quote-left:before {
    content: "\e310";
}
.ico-quote-right:before {
    content: "\e311";
}
.ico-random:before {
    content: "\e312";
}
.ico-refresh-1:before {
    content: "\e313";
}
.ico-remove:before {
    content: "\e314";
}
.ico-renren:before {
    content: "\e315";
}
.ico-repeat-redo:before {
    content: "\e316";
}
.ico-reply-all:before {
    content: "\e317";
}
.ico-reply-mail:before {
    content: "\e318";
}
.ico-resize-down:before {
    content: "\e319";
}
.ico-resize-expand:before {
    content: "\e31a";
}
.ico-retweet:before {
    content: "\e31b";
}
.ico-right:before {
    content: "\e31c";
}
.ico-road:before {
    content: "\e31d";
}
.ico-rocket-1:before {
    content: "\e31e";
}
.ico-rss-2:before {
    content: "\e31f";
}
.ico-rss-two:before {
    content: "\e320";
}
.ico-rupee:before {
    content: "\e321";
}
.ico-save-disk:before {
    content: "\e322";
}
.ico-science-laboratory:before {
    content: "\e323";
}
.ico-screen-desktop:before {
    content: "\e324";
}
.ico-search-find:before {
    content: "\e325";
}
.ico-share-square:before {
    content: "\e326";
}
.ico-share-square-1:before {
    content: "\e327";
}
.ico-shield-1:before {
    content: "\e328";
}
.ico-shopping-cart-1:before {
    content: "\e329";
}
.ico-signal:before {
    content: "\e32a";
}
.ico-sitemap:before {
    content: "\e32b";
}
.ico-skype:before {
    content: "\e32c";
}
.ico-smile:before {
    content: "\e32d";
}
.ico-smiley-frown:before {
    content: "\e32e";
}
.ico-smiley-meh:before {
    content: "\e32f";
}
.ico-sort-alpha:before {
    content: "\e330";
}
.ico-sort-alpha-two:before {
    content: "\e331";
}
.ico-sort-amount:before {
    content: "\e332";
}
.ico-sort-amount-two:before {
    content: "\e333";
}
.ico-sort-numeric:before {
    content: "\e334";
}
.ico-sort-numeric-two:before {
    content: "\e335";
}
.ico-spinner:before {
    content: "\e336";
}
.ico-square:before {
    content: "\e337";
}
.ico-square-line:before {
    content: "\e338";
}
.ico-stackoverflow:before {
    content: "\e339";
}
.ico-star-2:before {
    content: "\e33a";
}
.ico-star-half:before {
    content: "\e33b";
}
.ico-star-half-1:before {
    content: "\e33c";
}
.ico-star-two:before {
    content: "\e33d";
}
.ico-step-backward:before {
    content: "\e33e";
}
.ico-step-forward:before {
    content: "\e33f";
}
.ico-stethoscope:before {
    content: "\e340";
}
.ico-stop-2:before {
    content: "\e341";
}
.ico-strikethrough-1:before {
    content: "\e342";
}
.ico-subscript-1:before {
    content: "\e343";
}
.ico-sun:before {
    content: "\e344";
}
.ico-superscript-1:before {
    content: "\e345";
}
.ico-table:before {
    content: "\e346";
}
.ico-tablet:before {
    content: "\e347";
}
.ico-tachometer:before {
    content: "\e348";
}
.ico-tag-1:before {
    content: "\e349";
}
.ico-tag-2:before {
    content: "\e34a";
}
.ico-tags:before {
    content: "\e34b";
}
.ico-talk-chat:before {
    content: "\e34c";
}
.ico-talk-chat-2:before {
    content: "\e34d";
}
.ico-tasks:before {
    content: "\e34e";
}
.ico-terminal-1:before {
    content: "\e34f";
}
.ico-text-height:before {
    content: "\e350";
}
.ico-text-width:before {
    content: "\e351";
}
.ico-thumbnails-1:before {
    content: "\e352";
}
.ico-thumbnails-large:before {
    content: "\e353";
}
.ico-ticket-1:before {
    content: "\e354";
}
.ico-tint:before {
    content: "\e355";
}
.ico-trash-bin:before {
    content: "\e356";
}
.ico-trello:before {
    content: "\e357";
}
.ico-truck-1:before {
    content: "\e358";
}
.ico-unlock-2:before {
    content: "\e362";
}
.ico-upload-1:before {
    content: "\e363";
}
.ico-user:before {
    content: "\e364";
}
.ico-video-camera:before {
    content: "\e365";
}
.ico-vk:before {
    content: "\e366";
}
.ico-volume-down:before {
    content: "\e367";
}
.ico-volume-down-1:before {
    content: "\e368";
}
.ico-volume-up:before {
    content: "\e369";
}
.ico-weibo:before {
    content: "\e36a";
}
.ico-window-list:before {
    content: "\e36b";
}
.ico-won:before {
    content: "\e36d";
}
.ico-wrench-1:before {
    content: "\e36e";
}
.ico-xing-square:before {
    content: "\e370";
}
.ico-youtube:before {
    content: "\e372";
}
.ico-youtube-play:before {
    content: "\e373";
}
.ico-youtube-square:before {
    content: "\e374";
}
.ico-yuan:before {
    content: "\e375";
}
.ico-zoom-in-1:before {
    content: "\e376";
}
.ico-zoom-out-1:before {
    content: "\e377";
}
.ico-address:before {
    content: "\e378";
}
.ico-adjust:before {
    content: "\e379";
}
.ico-air:before {
    content: "\e37a";
}
.ico-alert-2:before {
    content: "\e37b";
}
.ico-archive-2:before {
    content: "\e37c";
}
.ico-arrow-combo:before {
    content: "\e37d";
}
.ico-arrows-ccw:before {
    content: "\e37e";
}
.ico-attach:before {
    content: "\e37f";
}
.ico-attention:before {
    content: "\e380";
}
.ico-back:before {
    content: "\e381";
}
.ico-back-in-time:before {
    content: "\e382";
}
.ico-bag:before {
    content: "\e383";
}
.ico-basket:before {
    content: "\e384";
}
.ico-battery:before {
    content: "\e385";
}
.ico-bell-1:before {
    content: "\e387";
}
.ico-block:before {
    content: "\e388";
}
.ico-book-open:before {
    content: "\e38a";
}
.ico-box:before {
    content: "\e38d";
}
.ico-briefcase-1:before {
    content: "\e38e";
}
.ico-brush:before {
    content: "\e38f";
}
.ico-calendar-4:before {
    content: "\e391";
}
.ico-camera-2:before {
    content: "\e392";
}
.ico-cancel:before {
    content: "\e393";
}
.ico-cc-by:before {
    content: "\e397";
}
.ico-cc-remix:before {
    content: "\e39d";
}
.ico-cc-sa:before {
    content: "\e39e";
}
.ico-cc-share:before {
    content: "\e39f";
}
.ico-cc-zero:before {
    content: "\e3a0";
}
.ico-ccw:before {
    content: "\e3a1";
}
.ico-cd:before {
    content: "\e3a2";
}
.ico-chart-area:before {
    content: "\e3a3";
}
.ico-chart-line:before {
    content: "\e3a5";
}
.ico-chart-pie:before {
    content: "\e3a6";
}
.ico-chat:before {
    content: "\e3a7";
}
.ico-check-2:before {
    content: "\e3a8";
}
.ico-clipboard-2:before {
    content: "\e3a9";
}
.ico-clock-3:before {
    content: "\e3aa";
}
.ico-cloud-2:before {
    content: "\e3ab";
}
.ico-cloud-thunder:before {
    content: "\e3ac";
}
.ico-code-2:before {
    content: "\e3ad";
}
.ico-cog:before {
    content: "\e3ae";
}
.ico-comment-2:before {
    content: "\e3af";
}
.ico-compass-2:before {
    content: "\e3b0";
}
.ico-cup-1:before {
    content: "\e3b2";
}
.ico-cw:before {
    content: "\e3b3";
}
.ico-database-2:before {
    content: "\e3b4";
}
.ico-db-shape:before {
    content: "\e3b5";
}
.ico-direction:before {
    content: "\e3b6";
}
.ico-doc:before {
    content: "\e3b7";
}
.ico-doc-landscape:before {
    content: "\e3b8";
}
.ico-doc-text:before {
    content: "\e3b9";
}
.ico-doc-text-inv:before {
    content: "\e3ba";
}
.ico-docs:before {
    content: "\e3bb";
}
.ico-dot:before {
    content: "\e3bc";
}
.ico-dot-2:before {
    content: "\e3bd";
}
.ico-dot-3:before {
    content: "\e3be";
}
.ico-down:before {
    content: "\e3bf";
}
.ico-down-bold:before {
    content: "\e3c0";
}
.ico-down-circled:before {
    content: "\e3c1";
}
.ico-down-dir:before {
    content: "\e3c2";
}
.ico-down-open:before {
    content: "\e3c3";
}
.ico-down-open-big:before {
    content: "\e3c4";
}
.ico-down-open-mini:before {
    content: "\e3c5";
}
.ico-down-thin:before {
    content: "\e3c6";
}
.ico-download-2:before {
    content: "\e3c7";
}
.ico-drive:before {
    content: "\e3ca";
}
.ico-erase:before {
    content: "\e3cd";
}
.ico-export:before {
    content: "\e3cf";
}
.ico-eye-3:before {
    content: "\e3d0";
}
.ico-facebook-circled:before {
    content: "\e3d2";
}
.ico-fast-backward-1:before {
    content: "\e3d4";
}
.ico-fast-forward-2:before {
    content: "\e3d5";
}
.ico-feather:before {
    content: "\e3d6";
}
.ico-flag-3:before {
    content: "\e3d7";
}
.ico-flash-1:before {
    content: "\e3d8";
}
.ico-flashlight:before {
    content: "\e3d9";
}
.ico-flattr:before {
    content: "\e3da";
}
.ico-flickr-1:before {
    content: "\e3db";
}
.ico-flickr-circled:before {
    content: "\e3dc";
}
.ico-flight:before {
    content: "\e3dd";
}
.ico-floppy:before {
    content: "\e3de";
}
.ico-flow-branch:before {
    content: "\e3df";
}
.ico-flow-cascade:before {
    content: "\e3e0";
}
.ico-flow-line:before {
    content: "\e3e1";
}
.ico-flow-parallel:before {
    content: "\e3e2";
}
.ico-flow-tree:before {
    content: "\e3e3";
}
.ico-folder-2:before {
    content: "\e3e4";
}
.ico-forward-1:before {
    content: "\e3e5";
}
.ico-gauge:before {
    content: "\e3e6";
}
.ico-globe-1:before {
    content: "\e3e9";
}
.ico-google-circles:before {
    content: "\e3ea";
}
.ico-gplus:before {
    content: "\e3eb";
}
.ico-gplus-circled:before {
    content: "\e3ec";
}
.ico-graduation-cap:before {
    content: "\e3ed";
}
.ico-heart-3:before {
    content: "\e3ee";
}
.ico-heart-empty-1:before {
    content: "\e3ef";
}
.ico-help:before {
    content: "\e3f0";
}
.ico-help-circled:before {
    content: "\e3f1";
}
.ico-home-3:before {
    content: "\e3f2";
}
.ico-inbox-1:before {
    content: "\e3f4";
}
.ico-infinity:before {
    content: "\e3f5";
}
.ico-info-2:before {
    content: "\e3f6";
}
.ico-info-circled:before {
    content: "\e3f7";
}
.ico-install:before {
    content: "\e3f9";
}
.ico-key-3:before {
    content: "\e3fa";
}
.ico-keyboard-2:before {
    content: "\e3fb";
}
.ico-lamp:before {
    content: "\e3fc";
}
.ico-language:before {
    content: "\e3fd";
}
.ico-lastfm:before {
    content: "\e3fe";
}
.ico-lastfm-circled:before {
    content: "\e3ff";
}
.ico-left-1:before {
    content: "\e402";
}
.ico-left-bold:before {
    content: "\e403";
}
.ico-left-circled:before {
    content: "\e404";
}
.ico-left-dir:before {
    content: "\e405";
}
.ico-left-open:before {
    content: "\e406";
}
.ico-left-open-big:before {
    content: "\e407";
}
.ico-left-open-mini:before {
    content: "\e408";
}
.ico-left-thin:before {
    content: "\e409";
}
.ico-level-down-1:before {
    content: "\e40a";
}
.ico-level-up-1:before {
    content: "\e40b";
}
.ico-lifebuoy:before {
    content: "\e40c";
}
.ico-light-down:before {
    content: "\e40d";
}
.ico-light-up:before {
    content: "\e40e";
}
.ico-link-3:before {
    content: "\e40f";
}
.ico-linkedin-1:before {
    content: "\e410";
}
.ico-linkedin-circled:before {
    content: "\e411";
}
.ico-list-3:before {
    content: "\e412";
}
.ico-list-add:before {
    content: "\e413";
}
.ico-location-1:before {
    content: "\e414";
}
.ico-lock-3:before {
    content: "\e415";
}
.ico-lock-open:before {
    content: "\e416";
}
.ico-login:before {
    content: "\e417";
}
.ico-logo-db:before {
    content: "\e418";
}
.ico-logout:before {
    content: "\e419";
}
.ico-loop-1:before {
    content: "\e41a";
}
.ico-magnet-1:before {
    content: "\e41b";
}
.ico-mail-2:before {
    content: "\e41c";
}
.ico-map-1:before {
    content: "\e41d";
}
.ico-megaphone-2:before {
    content: "\e41e";
}
.ico-menu:before {
    content: "\e41f";
}
.ico-mic-1:before {
    content: "\e420";
}
.ico-minus-circled:before {
    content: "\e422";
}
.ico-minus-squared:before {
    content: "\e423";
}
.ico-mixi:before {
    content: "\e424";
}
.ico-mobile-1:before {
    content: "\e425";
}
.ico-monitor-1:before {
    content: "\e426";
}
.ico-moon:before {
    content: "\e427";
}
.ico-mouse:before {
    content: "\e428";
}
.ico-music-1:before {
    content: "\e429";
}
.ico-newspaper:before {
    content: "\e42c";
}
.ico-note:before {
    content: "\e42d";
}
.ico-note-beamed:before {
    content: "\e42e";
}
.ico-palette:before {
    content: "\e42f";
}
.ico-paper-plane:before {
    content: "\e430";
}
.ico-pause-2:before {
    content: "\e431";
}
.ico-pencil-3:before {
    content: "\e433";
}
.ico-phone:before {
    content: "\e434";
}
.ico-play-2:before {
    content: "\e439";
}
.ico-plus-3:before {
    content: "\e43a";
}
.ico-quote-2:before {
    content: "\e445";
}
.ico-rdio:before {
    content: "\e446";
}
.ico-rdio-circled:before {
    content: "\e447";
}
.ico-record-1:before {
    content: "\e448";
}
.ico-reply:before {
    content: "\e44a";
}
.ico-reply-all-1:before {
    content: "\e44b";
}
.ico-resize-full:before {
    content: "\e44c";
}
.ico-resize-small:before {
    content: "\e44d";
}
.ico-retweet-1:before {
    content: "\e44e";
}
.ico-right-1:before {
    content: "\e44f";
}
.ico-right-bold:before {
    content: "\e450";
}
.ico-right-circled:before {
    content: "\e451";
}
.ico-right-dir:before {
    content: "\e452";
}
.ico-right-open:before {
    content: "\e453";
}
.ico-right-open-big:before {
    content: "\e454";
}
.ico-right-open-mini:before {
    content: "\e455";
}
.ico-right-thin:before {
    content: "\e456";
}
.ico-share-1:before {
    content: "\e45a";
}
.ico-shareable:before {
    content: "\e45b";
}
.ico-shuffle-1:before {
    content: "\e45c";
}
.ico-signal-1:before {
    content: "\e45d";
}
.ico-star-3:before {
    content: "\e466";
}
.ico-star-empty:before {
    content: "\e467";
}
.ico-stop-3:before {
    content: "\e468";
}
.ico-sweden:before {
    content: "\e46c";
}
.ico-switch:before {
    content: "\e46d";
}
.ico-trash-1:before {
    content: "\e479";
}
.ico-up-bold:before {
    content: "\e480";
}
.ico-up-circled:before {
    content: "\e481";
}
.ico-up-dir:before {
    content: "\e482";
}
.ico-up-open:before {
    content: "\e483";
}
.ico-up-open-big:before {
    content: "\e484";
}
.ico-up-open-mini:before {
    content: "\e485";
}
.ico-up-thin:before {
    content: "\e486";
}
.ico-upload-2:before {
    content: "\e487";
}
.ico-upload-cloud-1:before {
    content: "\e488";
}
.ico-volume-1:before {
    content: "\e491";
}
.ico-water:before {
    content: "\e492";
}
.ico-window:before {
    content: "\e493";
}
.ico-align-center-2:before {
    content: "\e494";
}
.ico-align-justify-3:before {
    content: "\e495";
}
.ico-align-left-2:before {
    content: "\e496";
}
.ico-align-right-2:before {
    content: "\e497";
}
.ico-archive-3:before {
    content: "\e498";
}
.ico-arrow-down-4:before {
    content: "\e499";
}
.ico-arrow-left-4:before {
    content: "\e49a";
}
.ico-arrow-right-4:before {
    content: "\e49b";
}
.ico-arrow-up-4:before {
    content: "\e49c";
}
.ico-atom:before {
    content: "\e49d";
}
.ico-bag-1:before {
    content: "\e49e";
}
.ico-bank-notes:before {
    content: "\e49f";
}
.ico-barbell:before {
    content: "\e4a0";
}
.ico-bars:before {
    content: "\e4a1";
}
.ico-battery-0:before {
    content: "\e4a2";
}
.ico-battery-1:before {
    content: "\e4a3";
}
.ico-battery-2:before {
    content: "\e4a4";
}
.ico-battery-3:before {
    content: "\e4a5";
}
.ico-battery-4:before {
    content: "\e4a6";
}
.ico-battery-power:before {
    content: "\e4a7";
}
.ico-beer-2:before {
    content: "\e4a8";
}
.ico-bolt:before {
    content: "\e4a9";
}
.ico-bones:before {
    content: "\e4aa";
}
.ico-book-close:before {
    content: "\e4ab";
}
.ico-book-open-1:before {
    content: "\e4ac";
}
.ico-bookmark-4:before {
    content: "\e4ad";
}
.ico-browser-1:before {
    content: "\e4af";
}
.ico-bubble:before {
    content: "\e4b0";
}
.ico-bubble-1:before {
    content: "\e4b1";
}
.ico-bubble-2:before {
    content: "\e4b2";
}
.ico-bubble-3:before {
    content: "\e4b3";
}
.ico-bucket-1:before {
    content: "\e4b4";
}
.ico-calculator:before {
    content: "\e4b5";
}
.ico-calendar-5:before {
    content: "\e4b6";
}
.ico-camera-3:before {
    content: "\e4b7";
}
.ico-cardiac-pulse:before {
    content: "\e4b8";
}
.ico-cd-1:before {
    content: "\e4b9";
}
.ico-character:before {
    content: "\e4ba";
}
.ico-checkbox-checked:before {
    content: "\e4bb";
}
.ico-checkmark:before {
    content: "\e4bc";
}
.ico-cloud-3:before {
    content: "\e4bf";
}
.ico-comment-3:before {
    content: "\e4c1";
}
.ico-connection-0:before {
    content: "\e4c2";
}
.ico-connection-1:before {
    content: "\e4c3";
}
.ico-connection-2:before {
    content: "\e4c4";
}
.ico-connection-3:before {
    content: "\e4c5";
}
.ico-connection-4:before {
    content: "\e4c6";
}
.ico-credit-cards:before {
    content: "\e4c7";
}
.ico-cube:before {
    content: "\e4c9";
}
.ico-diamond:before {
    content: "\e4ca";
}
.ico-download-3:before {
    content: "\e4cb";
}
.ico-email:before {
    content: "\e4cc";
}
.ico-email-plane:before {
    content: "\e4cd";
}
.ico-enter:before {
    content: "\e4ce";
}
.ico-envelope:before {
    content: "\e4cf";
}
.ico-eyedropper:before {
    content: "\e4d0";
}
.ico-file-1:before {
    content: "\e4d1";
}
.ico-file-add:before {
    content: "\e4d2";
}
.ico-file-broken:before {
    content: "\e4d3";
}
.ico-flag-4:before {
    content: "\e4d6";
}
.ico-folder-3:before {
    content: "\e4d7";
}
.ico-folder-add-1:before {
    content: "\e4d8";
}
.ico-folder-check:before {
    content: "\e4d9";
}
.ico-folder-settings:before {
    content: "\e4da";
}
.ico-forbidden:before {
    content: "\e4db";
}
.ico-frames:before {
    content: "\e4dc";
}
.ico-glass-1:before {
    content: "\e4dd";
}
.ico-graph-1:before {
    content: "\e4de";
}
.ico-grid:before {
    content: "\e4df";
}
.ico-heart-4:before {
    content: "\e4e0";
}
.ico-ipad:before {
    content: "\e4e4";
}
.ico-ipad-2:before {
    content: "\e4e5";
}
.ico-lab:before {
    content: "\e4e6";
}
.ico-laptop-2:before {
    content: "\e4e7";
}
.ico-list-4:before {
    content: "\e4e8";
}
.ico-lock-4:before {
    content: "\e4e9";
}
.ico-locked:before {
    content: "\e4ea";
}
.ico-micro:before {
    content: "\e4ee";
}
.ico-minus-3:before {
    content: "\e4f1";
}
.ico-modem:before {
    content: "\e4f2";
}
.ico-mute-2:before {
    content: "\e4f3";
}
.ico-newspaper-1:before {
    content: "\e4f4";
}
.ico-paperclip-1:before {
    content: "\e4f5";
}
.ico-pencil-4:before {
    content: "\e4f6";
}
.ico-phone-1:before {
    content: "\e4f7";
}
.ico-phone-2:before {
    content: "\e4f8";
}
.ico-phone-3:before {
    content: "\e4f9";
}
.ico-picture-1:before {
    content: "\e4fa";
}
.ico-pie-chart:before {
    content: "\e4fb";
}
.ico-pill:before {
    content: "\e4fc";
}
.ico-pin-1:before {
    content: "\e4fd";
}
.ico-power-1:before {
    content: "\e4fe";
}
.ico-printer-1:before {
    content: "\e4ff";
}
.ico-printer-2:before {
    content: "\e500";
}
.ico-refresh-2:before {
    content: "\e501";
}
.ico-reload:before {
    content: "\e502";
}
.ico-screen:before {
    content: "\e503";
}
.ico-select:before {
    content: "\e504";
}
.ico-set:before {
    content: "\e505";
}
.ico-settings-1:before {
    content: "\e506";
}
.ico-share-2:before {
    content: "\e507";
}
.ico-share-outline:before {
    content: "\e508";
}
.ico-stopwatch:before {
    content: "\e50c";
}
.ico-sun-1:before {
    content: "\e50d";
}
.ico-syringe:before {
    content: "\e50e";
}
.ico-tag-4:before {
    content: "\e50f";
}
.ico-train:before {
    content: "\e510";
}
.ico-trash-2:before {
    content: "\e511";
}
.ico-unlocked:before {
    content: "\e512";
}
.ico-user-2:before {
    content: "\e513";
}
.ico-user-outline:before {
    content: "\e514";
}
.ico-users-1:before {
    content: "\e515";
}
.ico-users-outline:before {
    content: "\e516";
}
.ico-volume-2:before {
    content: "\e517";
}
.ico-volume-down-2:before {
    content: "\e518";
}
.ico-volume-up-1:before {
    content: "\e519";
}
.ico-wifi-1:before {
    content: "\e51a";
}
.ico-wifi-2:before {
    content: "\e51b";
}
.ico-wifi-3:before {
    content: "\e51c";
}
.ico-window-delete:before {
    content: "\e51d";
}
.ico-windows-1:before {
    content: "\e51e";
}
.ico-zoom:before {
    content: "\e51f";
}
.ico-zoom-in-2:before {
    content: "\e520";
}
.ico-zoom-out-2:before {
    content: "\e521";
}
.ico-slashdot:before {
    content: "\e522";
}
.ico-instapaper:before {
    content: "\e523";
}
.ico-blip:before {
    content: "\e524";
}
.ico-crop-2:before {
    content: "\e4c8";
}
.ico-measure:before {
    content: "\e4ae";
}
.ico-map-2:before {
    content: "\e4bd";
}
.ico-up:before {
    content: "\e47c";
}
.ico-tools-1:before {
    content: "\e46f";
}
.ico-search-1:before {
    content: "\e457";
}
.ico-sina-weibo:before {
    content: "\e458";
}
.ico-unlike:before {
    content: "\e359";
}
.ico-undo:before {
    content: "\e35a";
}
.ico-unlock-1:before {
    content: "\e35b";
}
.ico-database-streamline:before {
    content: "\e091";
}
.ico-ibook-laptop:before {
    content: "\e092";
}
.ico-macintosh:before {
    content: "\e093";
}
.ico-locker-streamline-unlock:before {
    content: "\e094";
}
.ico-lock-locker-streamline:before {
    content: "\e095";
}
.ico-circuit-board:before {
    content: "\74";
}
.ico-3line:before {
    content: "\e037";
}
.ico-arch1:before {
    content: "\e039";
}
.ico-chart4:before {
    content: "\e053";
}
.ico-chart5:before {
    content: "\e054";
}
.ico-chart8:before {
    content: "\e056";
}
.ico-dashedh:before {
    content: "\e057";
}
.ico-dashedv:before {
    content: "\e058";
}
.ico-line33:before {
    content: "\e059";
}
.ico-log:before {
    content: "\e05a";
}
.ico-prec:before {
    content: "\e05c";
}
.ico-chart7:before {
    content: "\e055";
}
.ico-torso:before {
    content: "\e060";
}
.ico-torso-business:before {
    content: "\e061";
}
.ico-star-1:before {
    content: "\e062";
}
.ico-bubble-comment-streamline-talk:before {
    content: "\e063";
}
.ico-thesquare:before {
    content: "\e05d";
}
.ico-dash-1:before {
    content: "\e064";
}
.ico-d-dash:before {
    content: "\e065";
}
.ico-ang-dash:before {
    content: "\e068";
}
.ico-underline:before {
    content: "\e069";
}
.ico-bold-1:before {
    content: "\e06a";
}
.ico-chart-bar:before {
    content: "\e06b";
}
.ico-tplus:before {
    content: "\e06c";
}
.ico-tmin:before {
    content: "\e06d";
}
.ico-underline-1:before {
    content: "\e06e";
}
.ico-italic-2:before {
    content: "\e070";
}
.ico-bold-2:before {
    content: "\e06f";
}
.ico-chart-arearange:before {
    content: "\e071";
}
.ico-min-max:before {
    content: "\e072";
}
.ico-ch-last:before {
    content: "\e073";
}
.ico-plus1:before {
    content: "\e074";
}
.ico-bubble-4:before {
    content: "\e05b";
}
.ico-step:before {
    content: "\e075";
}
.ico-volume-chart:before {
    content: "\e076";
}
.ico-ohlc:before {
    content: "\e077";
}
.ico-points:before {
    content: "\e078";
}
.ico-hlc:before {
    content: "\e079";
}
.ico-candle:before {
    content: "\e07a";
}
.ico-candle-ha:before {
    content: "\e07b";
}
.ico-mountain:before {
    content: "\e07c";
}
.ico-data:before {
    content: "\e07d";
}
.ico-last:before {
    content: "\e07e";
}
.ico-nav-off:before {
    content: "\e07f";
}
.ico-png:before {
    content: "\e080";
}
.ico-mul-pencil:before {
    content: "\e081";
}
.ico-behance:before {
    content: "\7b";
}
.ico-linkedin-2:before {
    content: "\7d";
}
.ico-twitter:before {
    content: "\e001";
}
.ico-tumblr:before {
    content: "\e082";
}
.ico-close:before {
    content: "\e083";
}
.ico-times:before {
    content: "\e084";
}
.ico-move-horizontal-alt1:before {
    content: "\e085";
}
.ico-expand-r:before {
    content: "\e086";
}
.ico-compress:before {
    content: "\e087";
}
