<div class="XWIDGET-TABS-l2">
    <ul>
        <li ng-click="changeType('NAV')" name="type" id="type_NAV">Nav</li>
        <li ng-click="changeType('PROFIT')" name="type" id="type_PROFIT">Profit</li>
        <li ng-click="changeType('PERFORMANCE')" name="type" id="type_PERFORMANCE">Performance</li>
    </ul>
</div>
<div class="clearfix"></div>
<div class="XWIDGET-FILTER">
    <div class="col-sm-8"><label for="mainPortfolioChooser">Portfolio</label>
        <select id="mainPortfolioChooser" ng-options="portfolio.key for portfolio in portfolios track by portfolio.key" ng-model="portfolioObj">
        </select>
    </div>
    <div class="col-sm-10">
        <span>NAV : </span> <span class="font25">{{nav}}</span> <span class="font10">{{navTime}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="POSITION-REL">
        <ul class="QR-UL">
            <li name='period' ng-click="changePeriod('1D')" id="period_1D">1D</li>
            <li name='period' ng-click="changePeriod('1W')" id="period_1W">1W</li>
            <li name='period' ng-click="changePeriod('1M')" id="period_1M">1M</li>
            <li name='period' ng-click="changePeriod('3M')" id="period_3M">3M</li>
            <li name='period' ng-click="changePeriod('6M')" id="period_6M">6M</li>
            <li name='period' ng-click="changePeriod('YTD')" id="period_YTD">YTD</li>
            <li name='period' ng-click="changePeriod('1Y')" id="period_1Y">1Y</li>
            <li name='period' ng-click="changePeriod('2Y')" id="period_2Y">2Y</li>
            <li name='period' ng-click="changePeriod('3Y')" id="period_3Y">3Y</li>
            <li name='period' ng-click="changePeriod('5Y')" id="period_5Y">5Y</li>
            <li name='period' ng-click="changePeriod('ALL')" id="period_ALL">ALL</li>
        </ul>
    </div>
    <div rel="chart_container"></div>
</div>