<div class="XHEADER">
    <div class="XHEADER-WRAPPER">
        <div class="QRLOGO col-lg-3"></div>
        <div class="XMENU-BTN">
            <span class="icon ico-bars"></span>
        </div>
        <div class="XMENU-MAIN-SEARCH col-sm-1"></div>
        <div class="XMENU-MAIN-SEARCH col-sm-11" style="height:10px;margin: 10px;">
            <admin></admin>
        </div>

        <!--<div widget style="display: none" widget-id = '932398188' widget-type='nae~qrPortalWidgetsConfig' widget-disableheader="true"></div>-->

        <div class="XHEADER-SETTINGS col-sm-2">
            <ul>
                <!--<li portal-settings style="cursor: pointer;">-->
                    <!--<span class="HEADER-ICON icon ico-cog " style="cursor: pointer;" ng-click="settings.onClick($event)"></span>-->
                    <!--<div style=" position: absolute;top: 20px; padding:2px;right: 1px;z-index:12;width:90px;" id="portalSettings"-->
                         <!--widget widget-id='2067301602' widget-type='nae~qrPortalSettings' widget-disableheader="true">-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li portal-widgets style="cursor: pointer; display: list-item;">-->
                    <!--<span class="HEADER-ICON icon ico-thumbnails-1 " style="cursor: pointer;" ng-click="portalwidgets.onClick($event)"></span>-->
                    <!--<div class="XWIDGET XTHUMBNAILS">-->
                        <!--<div class="XWIDGET-CONTENT">-->
                            <!--<div style=" position: absolute;top: 20px; padding:2px;right: 1px;z-index:11;width:90px; display: none;"-->
                                 <!--id="portalWidgets" class="XPOPUP col-lg-4"-->
                                 <!--ng-click="portalwidgets.onWidgetPanelClick($event)">-->
                                <!--<span>Widget Library </span>-->
                                <!--<ul rel="widgetLibrary">-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>