<div class="OC-WRAPPER">
    <div class="OC-NORTH">
        <input type="button" value="+" ng-click="scrollDown()">
        <input type="button" value="-" ng-click="scrollUp()">
        <input type="button" value="Strategies" ng-click="showStrategies()">
    </div>
    <options-chain-table></options-chain-table>
</div>
<div name="strategyBox" class="XPOPUP" style="display: none">
    <ul>
        <li ng-repeat="(key, value) in strategies">
            <a ng-click="setStrategy(value.sub[value.def].key)">{{::value.name}}</a>
            <ul>
                <li ng-repeat="(sKey, sValue) in value.sub"><a ng-click="setStrategy(sValue.key)">{{::sValue.name}}</a></li>
            </ul>
        </li>
    </ul>
</div>