<div class="TABLE-SEARCH-TOP">
    <ul>
        <li>
            <label>
                <input type="text" tabindex="2" ng-model="filter" ng-model-options="{ debounce: 1000 }" ng-change="onFilter()"/>
            </label>
        </li>
    </ul>
</div>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Month</th>
        <th draggable drag-rel="{{field.id}}" style="white-space: nowrap; max-width: 150px;" ng-repeat="field in selectedFields | orderBy : order track by field.id" title="field.desc" droppable drop="changeColumn">
            {{field.name}}
        </th>
    </tr>
    <tr ng-repeat="indicator in data | orderBy: 'key' track by indicator.key">
        <td>{{indicator.desc}}</td>
        <td style="max-width: 150px;" ng-repeat="field in selectedFields | orderBy : order track by field.id" ng-class="indicator[field.id] < 0 ? 'TX-RED' : (indicator[field.id] === 0 ? '' : 'TX-GREEN')" ng-switch="field.type">
            <div ng-switch-when="percentageBar">
                <table width="100%">
                    <tr class="cc_channel">
                        <td width="40%"><div class="minus" style="width:{{(indicator[field.id] > 0 ? 0 : (indicator[field.id] < -100 ? 100 : (-1 * indicator[field.id])))}}%;"></div></td>
                        <td width="40%"><div class="plus" style=" width:{{(indicator[field.id] < 0 ? 0 : (indicator[field.id] > 100 ? 100 : indicator[field.id]))}}%;"></div></td>
                        <td width="20%" style="text-align: right;">{{indicator[field.id] | number : 2}}%</td>
                    </tr>
                </table>
            </div>
            <div ng-switch-when="int">{{indicator[field.id] | number : 0}}</div>
            <div ng-switch-default>{{indicator[field.id] | number : 2}}</div>
        </td>
    </tr>
</table>