.ca-filter{
    line-height:25px!important;
}
.ca-datePicker{
    min-width:70px!important;
    line-height:25px!important;
}
.ca-categories{
    min-width:150px!important;
    line-height:25px!important;
}
