.cc_channel {
    background: #101010 !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #353535 !important;
}

.plus{height:20px; background:green; float:left}
.minus{height:20px; background:#f40; float:right}

