<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="header in clientHeaders track by header.key">{{header.displayName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="(clientKey, client) in clients">
        <td style="width: 30px;">
            <button ng-click="expandClient(clientKey)">
                <span ng-bind="client.expanded ? '-' : '+'"></span>
            </button>
        </td>
        <td ng-repeat="header in clientHeaders track by header.key">{{client[header.key]}}</td>
    </tr>
    <tr ng-repeat-end class="cc_channel" ng-if="client.expanded">
        <td></td>
        <td colspan="{{clientHeaders.length}}">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="pairHeader in pairHeaders track by pairHeader.key">{{pairHeader.displayName}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="(key, pair) in client.pairs">
                    <td style="width: 30px;">
                            <span style="float: left;">
                                <button ng-click="expandPair(key)">
                                    <span ng-bind="pair.expanded ? '-' : '+'"></span>
                                </button>
                            </span>
                    </td>
                    <td ng-repeat="pairHeader in pairHeaders track by pairHeader.key">{{pair[pairHeader.key]}}</td>
                </tr>
                <tr class="cc_channel" ng-repeat-end ng-if="pair.expanded">
                    <td></td>
                    <td colspan="{{pairHeaders.length}}">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Name</th>
                                <th>Size</th>
                                <th></th>
                                <th>Limits</th>
                                <th></th>
                                <th>Change</th>
                                <th>NAV</th>
                                <th>Real.</th>
                                <th>Starting</th>
                                <th>Bias</th>
                                <th>Long</th>
                                <th>Short</th>
                                <th>RS</th>
                                <th>Signals</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in pair.channels track by data.name" channel="data">
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>