<div class="MID-CONTENT row">
    <div class="XPAGE col-sm-24">
        <div class="clearfix"></div>
        <div class="col-sm-24" style="height:400px;">
            <div class="col-sm-12">
                <div style="overflow-y: auto" widget class="box grid-stack-item" data-xin-widget-type="client-overview" data-xin-widget-id='-1038244952'
                     data-xin-widget-header="Client Overview"
                     data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                     data-xin-widget-channel="g" data-xin-widget-disableheader="true">
                </div>
            </div>
            <div class="col-sm-12">
                <div widget class="box grid-stack-item" data-xin-widget-type="virtual-channel-overview" data-xin-widget-id='-1038244952'
                     data-xin-widget-header="Channel Overview"
                     data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                     data-xin-widget-channel="g" data-xin-widget-disableheader="true" data-xincontainer-height="320" data-xincontainer-width="700" data-xinview-size="m">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-24">
            <div widget class="box grid-stack-item" data-xin-widget-type="nav-chart"
                 data-xin-widget-id='-950733125' data-xin-widget-header="NAV Chart"
                 data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>
        </div>
    </div>
</div>