<div class="MID-CONTENT row">
    <div class="XPAGE col-sm-24">
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <div widget class="box grid-stack-item" style="height:400px;overflow-y: auto;" data-xin-widget-type="channel-overview" data-xin-widget-id='-1038244952'
                 data-xin-widget-header="Channels Overview"
                 data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>
            <div widget class="box grid-stack-item" data-xin-widget-type="advanced-chart"
                 data-xin-widget-id='-950733125' data-type='SPREAD' data-model='Boeck_xCLQ6_COQ6_70'
                 data-xin-widget-header="NAV Detail Chart"
                 data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>
        </div>
        <div class="col-sm-12">
            <div widget class="box grid-stack-item" style="height:400px;" data-xin-widget-type="trade-history"
                 data-xin-widget-id='-802063837' data-xin-widget-header="Trade Log"
                 data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>

            <div widget class="box grid-stack-item" style="height:200px;" data-xin-widget-type="chart"
                 data-xin-widget-id='-774928026' data-xin-model='Boeck_xCLQ6_COQ6_70'
                 data-xin-widget-header="NAV" data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : true}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>
            <div widget class="box grid-stack-item" data-xin-widget-type="data-check"
                 data-xin-widget-id='-542905901' data-xin-widget-header="Server Status"
                 data-xin-widget-options='{"c":true,"m" : true,"s" : false, "l" : false}'
                 data-xin-widget-channel="g" data-xin-widget-disableheader="true">
            </div>
        </div>
    </div>
</div>