<div>
    <h2>Settings</h2>
    <span class="T2">Select Display Columns</span>

    <input type="text" class="xinput" placeholder="Search Column" ng-model="searchColumn" ng-model-options="{ debounce: 100 }" ng-change="onSearch()">

    <div class="area ROUND7 XBORDER1 FULL">
        <ul ng-repeat="col in columns">
            <li>
                <label>
                    <input type="checkbox" name="CheckboxGroup1" value="checkbox" ng-click="onSelectChange(col)" ng-checked="displayColumns.indexOf(col) !== -1">
                {{allColumns[col].desc}}
                </label>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>